.header{
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.header-image-container{
    position: relative;
    padding-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-image{
    width: 100%;
}

.header-image-container h1{
    position: absolute;
    margin: 0;
    bottom: 0px;
    left: 10px;
    color: #FFFFFF;
}

.about-me-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.about-me-section h2{
    margin: 0;
    align-self: start;
}

@media screen and (min-width: 700px) {
   
   
}

@media screen and (min-width: 1024px) {

  }